<div class="screen">
    <div class="title">
        <p>Welcome to this Angular Project. Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Here</a> for more info!</p>
    </div>
    <div class="content">
        <h1>Welcome to my portfolio <br> and my Curriculum Vitae</h1>
        <img src="https://images.unsplash.com/photo-1550439062-609e1531270e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="wallpaper">
    </div>
    <div class="content">
        <div class="content-left-half">
            <h4>Skills showdown</h4>
            <h1>Say HI to Angular!<br> A new way of programming <br>totaly not like Apple.</h1>
            <h3>This is my way of showing off my knowledge. The tabs above are pretty much what I've learned about Angular. Now that I think about it, maybe it's not. Because this is the first important project that I've made. Well, I guess that it. See it
                for yourself!</h3>
        </div>
        <div class="content-right-half">
            <img src="assets/images/laptop-with-code.png" alt="mac-with-code">
        </div>
    </div>
    <div class="content">
        <img src="assets/images/js.png" alt="js">
        <h1>Work with me <br>a Simple Dev.</h1>
        <h3>If after everything you've read you still want to work with me, <br>there's my curriculim below. But let me advise you, I am not worth <br> the time you're going to spend trying to teach me bootstrap, <br> oh no no no, and yes this is a "dica"
            to my good friend Flávio Bootstrappista.<br> So yes, curriculum below if you want!
        </h3>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Curriculum Vitae</a>
    </div>
</div>