.screen {
    width: calc(100vw - 17px);
    height: 200vh;
    background-color: black;
}

.title {
    background-color: rgba(248, 248, 248, 0.1);
}

.title p {
    color: whitesmoke;
}

.title a {
    color: rgb(50, 152, 255);
}

.content {
    justify-content: space-evenly;
    background-color: black;
    height: 50%;
}

.content h1 {
    color: whitesmoke;
    text-align: center;
}

.content:nth-of-type(2) img {
    width: 50%;
    aspect-ratio: 3/2;
    border-radius: 50%;
}

.content:nth-of-type(3) {
    background-image: url(../../../assets/images/mac-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row;
    width: 90%;
    height: 45%;
    border-radius: 5vh;
}

.content-left-half {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.content-left-half h1,
.content-left-half h3 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: whitesmoke;
}

.content-left-half h1 {
    font-weight: 600;
}

.content-left-half h3 {
    margin-top: 5%;
}

.content-left-half h4 {
    position: absolute;
    top: 5%;
    left: 5%;
    color: whitesmoke;
}

.content-right-half {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}

.content-right-half img {
    width: 150%;
    aspect-ratio: 12/7;
    margin-left: 50%;
}

@media (max-width:576px) {
    .content:nth-of-type(2) img {
        width: 100%;
    }
    .content:nth-of-type(3) {
        flex-direction: column;
    }
    .content-left-half {
        width: 100%;
    }
    .content-right-half {
        width: 100%;
    }
    .content-right-half img {
        width: 90%;
        margin-left: 0;
    }
}