<div class="screen">
    <div class="title">
        <p>Welcome to this Angular Project. Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Here</a> for more info!</p>
    </div>
    <div class="content">
        <h1>Welcome to the future <br> of Angular Programming</h1>
        <img src="https://images.unsplash.com/photo-1550439062-609e1531270e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="wallpaper">
    </div>
    <div class="content">
        <div class="content-left-half">
            <h4>Angular Programming</h4>
            <h1>Say HI to Angular!<br> A new way of programming <br>totaly not like Apple.</h1>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus cupiditate, atque nostrum fugit laudantium maiores praesentium temporibus commodi voluptas magnam? Odio obcaecati ad quae alias in? Laboriosam praesentium, dolorem impedit
                non amet sunt obcaecati debitis eaque e claro o Tiago Sampaio é extremamente lindo laborum nemo vitae possimus autem, distinctio error?</h3>
        </div>
        <div class="content-right-half">
            <img src="assets/images/laptop-with-code.png" alt="mac-with-code">
        </div>
    </div>
</div>