.footer {
    width: 80vw;
    height: 10vh;
    background-color: rgb(34, 34, 34);
    position: fixed;
    bottom: 2vh;
    left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vh;
    grid-template-columns: 1fr 1fr;
    animation: slide-top 0.5s ease-in-out;
    box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
}

@keyframes slide-top {
    0% {
        transform: scale(0.1);
        transform: translateY(20vh);
    }
    95% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
        transform: translateY(0);
    }
}

.header-box {
    aspect-ratio: 50/1;
}

.cookies-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cookies-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cookies-text p {
    color: #D7D7D7;
}

@media (max-width: 992px) {
    .footer {
        width: 85vw;
    }
    .header-box {
        aspect-ratio: 35/1;
    }
    .header-box p {
        font-size: calc(0.9vw + 6 * ((100vw - 320px) / 680));
    }
    .cookies-text p {
        font-size: calc(1vw + 6 * ((100vw - 320px) / 680));
        padding-left: 2vw;
        padding-right: 22vw;
    }
    .cookies-text {
        position: relative;
    }
    .accept {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 8vw;
        aspect-ratio: 4/1;
        font-size: calc(0.9vw + 6 * ((100vw - 320px) / 680));
        border-radius: 3vh;
    }
}

@media (max-width: 767px) {
    .header-box p {
        font-size: calc(1.3vw + 6 * ((100vw - 320px) / 680));
    }
    .cookies-text p {
        font-size: calc(1.5vw + 6 * ((100vw - 320px) / 680));
    }
    .accept {
        width: 10vw;
    }
}

@media (max-width: 576px) {
    .footer {
        height: 8vh;
    }
    .header-box {
        aspect-ratio: 30/1;
    }
    .cookies-text p {
        font-size: calc(1.8vw + 6 * ((100vw - 320px) / 680));
        padding-right: 20vw;
    }
    .accept {
        font-size: calc(1.3vw + 6 * ((100vw - 320px) / 680));
    }
}
