<div class="screen">
    <div class="title">
        <p>Welcome to Apple Anime. Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Here</a> for more info!</p>
    </div>
    <div class="search-box">
        <h1>Search Anime:</h1>
        <div class="input-box">
            <input type="text" #search>
            <button class="accept" (click)="getAnimes(search.value)">Search</button>
        </div>
    </div>
    <router-outlet *ngIf='this.rt.url.split("/")[2]'></router-outlet>
    <div class="results-box" *ngIf='animes !== undefined'>
        <div class="card-anime" (mouseenter)="filter(card); show(div)" (mouseleave)="unfilter(card); unshow(div)" *ngFor="let item of animes.results">
            <img src={{item.image_url}} #card>
            <div [routerLink]="['/anime', item.mal_id]" class="description-anime" #div>
                <h2>{{item.title}}</h2>
                <p>{{item.synopsis}}</p>
            </div>
        </div>
    </div>
</div>