<div class="screen">
    <div class="title">
        <p>This is not a page. Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Here</a> for more info!</p>
    </div>
    <div class="content">
        <h1 class="not-found">The page you’re looking<br>for can’t be found.</h1>
        <div class="not-found-div">
            <input class="not-found-input" type="text" placeholder="Entertain yourself.">
            <a class="not-found-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">I swear it's not virus ></a>
        </div>
    </div>
</div>