.not-found {
    text-align: center;
}

.not-found-input {
    width: 20%;
}

.not-found-link {
    margin-top: 1%;
}

.not-found-div {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .not-found-input {
        width: 30%;
        font-size: calc(1vw + 6 * ((100vw - 320px) / 680));
    }
    .not-found-link {
        font-size: calc(1.2vw + 6 * ((100vw - 320px) / 680));
    }
}

@media (max-width: 736px) {
    .not-found-input {
        width: 40%;
        font-size: calc(1.5vw + 6 * ((100vw - 320px) / 680));
    }
    .not-found-link {
        font-size: calc(1.7vw + 6 * ((100vw - 320px) / 680));
    }
}

@media (max-width: 576px) {
    .not-found-input {
        width: 50%;
        font-size: calc(2vw + 6 * ((100vw - 320px) / 680));
    }
    .not-found-link {
        font-size: calc(2vw + 6 * ((100vw - 320px) / 680));
    }
}