<div class="content first">
    <div class="divide-first">
        <h2>Add a product</h2>
    </div>
    <div class="divide-second">
        <input type="text" placeholder="Product" #name>
        <input type="text" placeholder="Price" #price>
        <button (click)="addList(name.value, price.value)">Add</button>
    </div>
</div>
<div class="content second">
    <div class="item" *ngFor="let item of serviceList.shoppingList">
        <p [ngClass]="{'comprados' : item.cart}">{{item.name}}<br>{{item.price}}€</p>
    </div>
</div>
