/* JUST IN CASE
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/

@import "../src/fontface.css";
:root {
    font-size: medium;
    --h1-size: calc(30px + 6 * ((100vw - 320px) / 680));
    --h2-size: calc(16px + 6 * ((100vw - 320px) / 680));
    --h3-size: calc(10px + 6 * ((100vw - 320px) / 680));
    --h4-size: calc(8px + 6 * ((100vw - 320px) / 680));
    --p-size: calc(5px + 6 * ((100vw - 320px) / 680));
    --input-size: calc(5px + 6 * ((100vw - 320px) / 680));
    --button-size: calc(3px + 6 * ((100vw - 320px) / 680));
    --a-size: calc(5px + 6 * ((100vw - 320px) / 680));
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    /*font*/
    font-family: 'SFPro', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Screen Size */

.screen {
    width: 100vw;
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfcfb;
    position: relative;
}


/* buyed class */

.buyed {
    text-decoration: line-through;
}


/* Tab control */

:focus-visible:not(input, select) {
    background-color: rgba(49, 138, 255, 0.5);
}


/* Font Sizes */

p {
    font-size: var(--p-size);
    font-weight: 400;
}

h1 {
    font-size: var(--h1-size);
    font-weight: 500;
}

h2 {
    font-size: var(--h2-size);
    font-weight: 500;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;
}

h4 {
    font-size: var(--h4-size);
    font-weight: 500;
}

input {
    font-size: var(--input-size);
}

button {
    font-size: var(--button-size);
}

a {
    font-size: var(--a-size);
    font-weight: 400;
}


/* Link Defaults */

a,
a:visited {
    text-decoration: none;
    color: #06c;
}

a:hover {
    text-decoration: underline;
}


/* Button Defaults */

button {
    width: 6vw;
    aspect-ratio: 4/1;
    border-radius: 2vh;
    border: 0px solid transparent;
    background-color: linear-gradient(to bottom, lightgray, darkgray);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    color: black;
    transition-duration: 0.3s;
}

button:hover {
    background-color: white;
}

button:active {
    background-color: darkgray;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.accept {
    background-color: rgb(0, 94, 172);
    color: whitesmoke;
}

.accept:hover {
    background-color: rgb(0, 120, 218);
}


/* Input Defauts */

input {
    aspect-ratio: 6/1;
    border: 1px solid #d6d6d6;
    border-radius: 0.4vh;
    padding-left: 1vh;
}

input:focus {
    border-color: #0070c9;
    box-shadow: 0 0 0 0.2vh rgba(131, 192, 253, 0.50);
}


/* Below Nav */

.title {
    width: 100%;
    height: 48px;
    display: grid;
    place-items: center;
    background-color: rgb(238, 238, 238);
}

.title p {
    color: #474747;
    font-size: 14px;
}

.title a {
    font-size: 14px;
}


/* Content */

.content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}


/* Header Tab w/ buttons */

.header-box {
    width: 100%;
    background: linear-gradient(to bottom, lightgray, darkgray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.header-box p {
    position: relative;
    color: rgb(56, 56, 56);
    text-align: center;
}

.header-buttons-box {
    height: 100%;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-buttons {
    height: 55%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 0px 0px 2px -1px black;
}

.header-buttons:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.header-buttons:active {
    filter: brightness(80%);
}

.red {
    background-color: #F15F55;
    display: grid;
    place-items: center;
}

.red img {
    display: none;
    width: 100%;
    height: 100%;
    filter: contrast(0.4)
}

.red:hover img {
    display: block;
}

.yellow {
    background-color: #F6B82B;
}

.green {
    background-color: #24C744;
}