<div class="screen">
    <div class="title">
        <p>Welcome to the shop. Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Here</a> for more info!</p>
    </div>
    <div class="content" #firstContent>
        <h1>Press this buttons<br>and see how they work!</h1>
        <h2>Lorem ipsum, dolor sit amet consectetur<br> adipisicing elit. Veritatis, dolore.</h2>
        <div class="buttons-nav">
            <button class="accept" [routerLink]="['add']" (click)="extend(firstContent, secondContent)" routerLinkActive="active">Add</button>
            <button class="accept" [routerLink]="['buy']" routerLinkActive="active">Buy</button>
        </div>
    </div>
    <div></div>
    <div class="content" #secondContent>
        <router-outlet></router-outlet>
    </div>
</div>