.content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.divide-first,
.divide-second {
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
}

.divide-first {
    margin-top: 0.5%;
}

.divide-second {
    grid-template-columns: 1fr 1fr 1fr;
}

.first {
    height: 25%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.first button:hover {
    background-color: rgba(0, 83, 216, 0.25);
}

.first button:active {
    background-color: rgba(0, 83, 216, 0.45);
}

.second {
    height: 75%;
    flex-wrap: wrap;
    overflow: auto;
    bottom: 0;
    padding: 2%;
}

.second .item {
    min-width: 10%;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 83, 216, 0.25);
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 1vh;
}

@media (max-width: 992px) {
    button {
        width: 80px;
        border-radius: 2vh;
        font-size: calc(0.8vw + 6 * ((100vw - 320px) / 680));
    }
    input {
        width: auto;
        height: 3vh;
        font-size: calc(0.8vw + 6 * ((100vw - 320px) / 680));
    }
    .second .item p {
        font-size: calc(0.8vw + 6 * ((100vw - 320px) / 680));
    }
}

@media (max-width: 756px) {
    button {
        font-size: calc(1.5vw + 6 * ((100vw - 320px) / 680));
    }
    input {
        font-size: calc(1.5vw + 6 * ((100vw - 320px) / 680));
    }
    .second .item {
        min-width: 12%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .second .item p {
        font-size: calc(1.5vw + 6 * ((100vw - 320px) / 680));
    }
}

@media (max-width: 576px) {
    button {
        width: 70px;
        font-size: calc(2vw + 6 * ((100vw - 320px) / 680));
    }
    input {
        font-size: calc(2vw + 6 * ((100vw - 320px) / 680));
    }
    .second .item {
        min-width: 15%;
    }
    .second .item p {
        font-size: calc(2.2vw + 6 * ((100vw - 320px) / 680));
    }
}
